@{
    ViewData["Title"] = "Orhan Ekici Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Benim kişisel sayfama hoş geldiniz.</h1>
    <p>Her şey yolunda mı? Yolunda. O zaman süper.</p>
</div>
